<ion-view>
    <ion-content scroll="false">
        <img class="bj" src="img/background.png" alt=""/>
        <img class="back" src="img/back.png" ng-click="goBack()" alt=""/>
            <img class="biaoyan_list" id="list_1" src="img/biaoyan/list_01.png" ng-click="go_biaoyan_01()" alt=""/>
            <img class="biaoyan_list" id="list_2" src="img/biaoyan/list_02.png" ng-click="go_biaoyan_02()" alt=""/>
            <img class="biaoyan_list" id="list_3" src="img/biaoyan/list_03.png" ng-click="go_biaoyan_03()" alt=""/>
            <img class="biaoyan_list" id="list_4" src="img/biaoyan/list_04.png" ng-click="go_biaoyan_04()" alt=""/>
    </ion-content>
</ion-view>
