<ion-view>
    <ion-content scroll="false">
        <img class="bj" src="img/background.png" alt=""/>
        <img class="back" src="img/back.png" ng-click="goBack()" alt=""/>
        <img class="biaoyan_title" src="img/biaoyan/list_02.png" alt=""/>
        <iframe class="video" ng-src="{{mySrc}}" frameborder=0 allowfullscreen></iframe>
        <!--<iframe class="video" ng-src="http://player.youku.com/embed/XMTQ5NzU2NzYwOA==" frameborder=0 allowfullscreen></iframe>-->
    </ion-content>
</ion-view>
