<!--可以将<ion-view>标签视为<html>标签，在其中写页面-->
<ion-view>
    <ion-content scroll="false">
        <img class="bj" src="img/background.png" alt=""/>
        <img class="back" src="img/back.png" ng-click="goBack()" alt=""/>
        <div class="collection_1 collection_photo" ><img width="100%" height="200%" src="img/collection/default.png" ng-click="show_photo(0)" alt=""/></div>
        <div class="collection_2 collection_photo"><img width="100%" height="200%" src="img/collection/default.png" ng-click="show_photo(1)" alt=""/></div>
        <div class="collection_3 collection_photo"><img width="100%" height="200%" src="img/collection/default.png" ng-click="show_photo(2)" alt=""/></div>
        <div class="collection_4 collection_photo"><img width="100%" height="200%" src="img/collection/default.png" ng-click="show_photo(3)" alt=""/></div>
        <div class="collection_5 collection_photo"><img width="100%" height="200%" src="img/collection/default.png" ng-click="show_photo(4)" alt=""/></div>
        <div class="collection_6 collection_photo"><img width="100%" height="200%" src="img/collection/default.png" ng-click="show_photo(5)" alt=""/></div>
        <img class="lastpage" ng-click="goPrePage()" src="img/lastpage.png" alt=""/>
        <img class="nextpage" ng-click="goAftPage()" src="img/nextpage.png" alt=""/>
    </ion-content>
</ion-view>
