<!--可以将<ion-view>标签视为<html>标签，在其中写页面-->
<ion-view>
    <ion-content scroll="false">
        <img class="bj" src="img/background.png" alt=""/>
        <img class="back" src="img/back.png" ng-click="goBack()" alt=""/>
        <canvas id="make_photo"></canvas>
        <img id="left_1" class="left" src="img/make/left.png" alt=""/>
        <img id="left_2" class="left" src="img/make/left.png" alt=""/>
        <img id="left_3" class="left" src="img/make/left.png" alt=""/>
        <img id="left_4" class="left" src="img/make/left.png" alt=""/>
        <img id="right_1" class="right" src="img/make/right.png" alt=""/>
        <img id="right_2" class="right" src="img/make/right.png" alt=""/>
        <img id="right_3" class="right" src="img/make/right.png" alt=""/>
        <img id="right_4" class="right" src="img/make/right.png" alt=""/>
        <img id="head" src="img/make/head_point.png" alt=""/>
        <img id="body" src="img/make/body_point.png" alt=""/>
        <img id="arm" src="img/make/arm_point.png" alt=""/>
        <img id="foot" src="img/make/foot_point.png" alt=""/>
        <img class="save" src="img/save.png" alt=""/>
    </ion-content>
</ion-view>
