<ion-view>
    <ion-content scroll="false">
        <img class="bj" src="img/background.png" alt=""/>
        <img class="back" src="img/back.png" ng-click="goBack()" alt=""/>
        <div id="screen_1">
        <div class="collection_1 collection_photo shangxi"><img class="list_div" id="1" width="100%" height="100%" src="img/shangxi/sx_1.png"  alt=""/></div>
        <div class="collection_2 collection_photo shangxi"><img class="list_div" id="2" width="100%" height="100%" src="img/shangxi/sx_2.png" alt=""/></div>
        <div class="collection_3 collection_photo shangxi"><img class="list_div" id="3" width="100%" height="100%" src="img/shangxi/sx_3.png" alt=""/></div>
        <div class="collection_4 collection_photo shangxi"><img class="list_div" id="4" width="100%" height="100%" src="img/shangxi/sx_4.png" alt=""/></div>
        <div class="collection_5 collection_photo shangxi"><img class="list_div" id="5"  width="100%" height="100%" src="img/shangxi/sx_5.png" alt=""/></div>
        <div class="collection_6 collection_photo shangxi"><img class="list_div" id="6" width="100%" height="100%" src="img/shangxi/sx_6.png" alt=""/></div>
        </div>
        <img class="lastpage" src="img/lastpage.png" ng-click="last()" alt=""/>
        <img class="nextpage" src="img/nextpage.png" ng-click="next()" alt=""/>
    </ion-content>
</ion-view>
