<!--可以将<ion-view>标签视为<html>标签，在其中写页面-->
<ion-view>
    <ion-content scroll="false">
        <img class="bj" src="img/background.png" alt=""/>
        <img class="back" src="img/back.png" ng-click="goBack()" alt=""/>
        <div class="shangxi_show"><img id="show_img" width="100%" height="100%" src="" alt=""/></div>
        <div class='shangxi_text'></div>
        <img class="lastpage" src="img/last.png" ng-click="last()" alt=""/>
        <img class="nextpage" src="img/next.png" ng-click="next()" alt=""/>
    </ion-content>
</ion-view>
