<ion-view>
    <ion-content scroll="false">
        <img class="bj" src="img/background.png" alt=""/>
        <div class="style_container">
            <img class="style_back" src="img/back.png" ng-click="goBack()" alt=""/>
            <img class="style_title" src="img/style/list_12.png" alt=""/>
            <div class="style_text">
               <p>黑龙江望奎地区的皮影戏，唱腔高亢委婉，早期受“乐亭影”的影响，后随演唱风格逐渐本地化，糅合进大量冀东口语，演化发展出独具黑龙江地域特色的“江北派”皮影。</p>
                <img src="img/style/style_12/01.jpg" alt=""/>
                <img src="img/style/style_12/02.jpg" alt=""/>
                <img src="img/style/style_12/03.jpg" alt=""/>
                <img src="img/style/style_12/04.jpg" alt=""/>
                <img src="img/style/style_12/05.jpg" alt=""/>
            </div>
        </div>
    </ion-content>
</ion-view>
