<ion-view>
    <ion-content scroll="false">
        <img class="bj" src="img/background.png" alt=""/>
        <div class="style_container">
            <img class="style_back" src="img/back.png" ng-click="goBack()" alt=""/>
            <img class="style_title" src="img/style/list_13.png" alt=""/>
            <div class="style_text">
               <p>孝义皮影戏主要流传于山西孝义地区，孝义素有“皮影之乡”的美称。孝义皮影可上述到宋金时代，代表剧目有《三国演义》、《西游记》、《杨家将》等被人们熟知的剧目。孝义皮影伴奏以唢呐为主，形成了独具特色的孝义吹腔，同时也是我国有记载最早出现的民间吹腔之一。</p>
                <img src="img/style/style_13/01.jpg" alt=""/>
                <img src="img/style/style_13/02.jpg" alt=""/>
                <img src="img/style/style_13/03.jpg" alt=""/>
                <img src="img/style/style_13/04.jpg" alt=""/>
                <img src="img/style/style_13/05.jpg" alt=""/>
            </div>
        </div>
    </ion-content>
</ion-view>
