<ion-view>
    <ion-content scroll="false">
        <img class="bj" src="img/background.png" alt=""/>
        <div class="style_container">
            <img class="style_back" src="img/back.png" ng-click="goBack()" alt=""/>
            <img class="style_title" src="img/style/list_11.png" alt=""/>
            <div class="style_text">
               <p>唐山皮影戏的发源地代表地区为河北滦州、乐亭，所使用的皮影人制作材料多为驴皮，所以又称驴皮影、滦州影或乐亭影。唐山皮影因其独特的艺术表现力，是中国皮影戏中最具特色、影响范围最广的种类之一。唐山皮影戏发源于明末清初，到现在已经有400多年的历史。唐山皮影以唱见长，有无唱不成影的说法。</p>
                <p>唐山皮影的唱腔基本以乐亭方言为语言基础，能够满足当地观众的欣赏需要，之前并没有形成正式的唱腔流派，演唱时以说白为主，辅以少量哼唱。至清代，皮影唱腔吸取了戏曲唱腔的优点，并在戏曲基础上发明了“掐嗓”唱法，演员演唱时用手掐住声带控制声音的高低。代表唱腔有平调、花调、凄凉调、悲调、还阳调，利用各种唱腔可以分别表现剧情中各种人物造型、情绪的表演，十分传神。</p>
                <img src="img/style/style_11/01.jpg" alt=""/>
                <img src="img/style/style_11/02.jpg" alt=""/>
                <img src="img/style/style_11/03.jpg" alt=""/>
                <img src="img/style/style_11/04.jpg" alt=""/>
                <img src="img/style/style_11/05.jpg" alt=""/>
            </div>
        </div>
    </ion-content>
</ion-view>
