<ion-view>
    <ion-content scroll="false">
        <img class="bj" src="img/background.png" alt=""/>
        <div class="style_container">
            <img class="style_back" src="img/back.png" ng-click="goBack()" alt=""/>
            <img class="style_title" src="img/style/list_01.png" alt=""/>
            <div class="style_text">
                <p>北京皮影戏分为东、西两派，东派由滦县、乐亭传入，西派相传由兰州传入。目前北京现有的皮影表演以西派皮影为主。北京皮影唱腔融入了大鼓、坠子、民歌、京剧等演唱艺术之长，形成了独具特色的北京唱腔。</p>
                <p>北京皮影的表演可谓国内最现代化的，皮影表演条件好，制作道具影人的材料也较为新颖，除传统使用的驴皮、牛皮、羊皮外，还随着时代进步使用各种材料进行加工，在皮影戏的改良创作上也处于领先地位。</p>
                <img src="img/style/style_01/01.jpg" alt=""/>
                <img src="img/style/style_01/02.jpg" alt=""/>
                <img src="img/style/style_01/03.jpg" alt=""/>
                <img src="img/style/style_01/04.jpg" alt=""/>
                <img src="img/style/style_01/05.jpg" alt=""/>
                <img src="img/style/style_01/06.jpg" alt=""/>
            </div>
        </div>
    </ion-content>
</ion-view>
