<ion-view>
    <ion-content scroll="false">
        <img class="bj" src="img/background.png" alt=""/>
        <div class="style_container">
            <img class="style_back" src="img/back.png" ng-click="goBack()" alt=""/>
            <img class="style_title" src="img/style/list_08.png" alt=""/>
            <div class="style_text">
               <p>凌源皮影戏唱腔特色大致与东北皮影相同，演唱并无统一规范，区域性较强，道白多为乡音俚语，受二人转影响较大，唱腔较为粗狂豪放，声音平直短促，诙谐幽默。</p>
                <img src="img/style/style_08/01.jpg" alt=""/>
                <img src="img/style/style_08/02.jpg" alt=""/>
                <img src="img/style/style_08/03.jpg" alt=""/>
                <img src="img/style/style_08/04.jpg" alt=""/>
            </div>
        </div>
    </ion-content>
</ion-view>
