<ion-view>
    <ion-content scroll="false">
        <img class="bj" src="img/background.png" alt=""/>
        <img class="back" src="img/back.png" ng-click="goBack()" alt=""/>
        <div id="screen_1">
            <img class="style_list" id="list_1" src="img/style/list_01.png" ng-click="go_style_01()" alt=""/>
            <img class="style_list" id="list_2" src="img/style/list_02.png" ng-click="go_style_02()" alt=""/>
            <img class="style_list" id="list_3" src="img/style/list_03.png" ng-click="go_style_03()" alt=""/>
            <img class="style_list" id="list_4" src="img/style/list_04.png" ng-click="go_style_04()" alt=""/>
            <img class="style_list" id="list_5" src="img/style/list_05.png" ng-click="go_style_05()" alt=""/>
            <img class="style_list" id="list_6" src="img/style/list_06.png" ng-click="go_style_06()" alt=""/>
        </div>
        <div id="screen_2">
            <img class="style_list" id="list_7" src="img/style/list_07.png" ng-click="go_style_07()" alt=""/>
            <img class="style_list" id="list_8" src="img/style/list_08.png" ng-click="go_style_08()" alt=""/>
            <img class="style_list" id="list_9" src="img/style/list_09.png" ng-click="go_style_09()" alt=""/>
            <img class="style_list" id="list_10" src="img/style/list_10.png" ng-click="go_style_10()" alt=""/>
            <img class="style_list" id="list_11" src="img/style/list_11.png" ng-click="go_style_11()" alt=""/>
            <img class="style_list" id="list_12" src="img/style/list_12.png" ng-click="go_style_12()" alt=""/>
        </div>
        <div id="screen_3">
            <img class="style_list" id="list_13" src="img/style/list_13.png" ng-click="go_style_13()" alt=""/>
        </div>
        <img class="lastpage" src="img/lastpage.png" ng-click="last()" alt=""/>
        <img class="nextpage" src="img/nextpage.png" ng-click="next()" alt=""/>
    </ion-content>
</ion-view>
