<ion-view>
    <ion-content scroll="false">
        <img class="bj" src="img/background.png" alt=""/>
        <div class="style_container">
            <img class="style_back" src="img/back.png" ng-click="goBack()" alt=""/>
            <img class="style_title" src="img/style/list_03.png" alt=""/>
            <div class="style_text">
               <p>海宁皮影戏唱腔古老，在发展初期，唱腔比较古老，后受昆腔和江南丝竹的影响变化，形成了自己的演唱特色。有“乱弹”、“高腔”、“曲牌”三大系统。皮影人物造型中脸谱接近于京剧。</p>
                <img src="img/style/style_03/01.jpg" alt=""/>
                <img src="img/style/style_03/02.jpg" alt=""/>
                <img src="img/style/style_03/04.jpg" alt=""/>
                <img src="img/style/style_03/05.jpg" alt=""/>
                <img src="img/style/style_03/06.jpg" alt=""/>
            </div>
        </div>
    </ion-content>
</ion-view>
