<ion-view>
    <ion-content scroll="false">
        <img class="bj" src="img/background.png" alt=""/>
        <div class="style_container">
            <img class="style_back" src="img/back.png" ng-click="goBack()" alt=""/>
            <img class="style_title" src="img/style/list_09.png" alt=""/>
            <div class="style_text">
               <p>陆丰皮影戏以动物戏居多，其唱腔也与北方唱腔有很大区别，婉转悠扬，别具一番风味。现代陆丰皮影戏演出，布景面积大，声光电道具一应俱全，一改以往传统皮影的演出效果，是皮影戏现代演出较为成熟的一支。</p>
                <img src="img/style/style_09/01.jpg" alt=""/>
                <img src="img/style/style_09/02.jpg" alt=""/>
                <img src="img/style/style_09/03.jpg" alt=""/>
                <img src="img/style/style_09/04.jpg" alt=""/>
                <img src="img/style/style_09/05.jpg" alt=""/>
            </div>
        </div>
    </ion-content>
</ion-view>
