<ion-view>
    <ion-content scroll="false">
        <img class="bj" src="img/background.png" alt=""/>
        <div class="style_container">
            <img class="style_back" src="img/back.png" ng-click="goBack()" alt=""/>
            <img class="style_title" src="img/style/list_10.png" alt=""/>
            <div class="style_text">
               <p>沔阳皮影戏是指现在流行于湖北仙桃一带的皮影戏的统称。演唱大致分为两种，一种主要以固定剧目为内容，唱词表演相对统一；另一种主要以即兴演出为主，唱词灵活多样，为了迎合观众心理出现了各种剧目。唱腔主要有平腔、哭灵腔、道士腔、鱼尾腔、琵琶腔、观音腔、杂花腔。</p>
                <img src="img/style/style_10/01.jpg" alt=""/>
                <img src="img/style/style_10/02.jpg" alt=""/>
                <img src="img/style/style_10/03.jpg" alt=""/>
                <img src="img/style/style_10/04.jpg" alt=""/>
                <img src="img/style/style_10/05.jpg" alt=""/>
            </div>
        </div>
    </ion-content>
</ion-view>
