<ion-view>
    <ion-content scroll="false">
        <img class="bj" src="img/background.png" alt=""/>
        <div class="style_container">
            <img class="style_back" src="img/back.png" ng-click="goBack()" alt=""/>
            <img class="style_title" src="img/style/list_05.png" alt=""/>
            <div class="style_text">
               <p>华阴老腔分为阿宫腔和弦板腔两类。</p>
                <p>其中阿宫腔又称北路秦腔，演唱时假嗓高音最具特色，唱腔旋律不沉不躁、清秀秀婉，表演时善于表现人物复杂的心理活动。</p>
               <p>弦板腔音乐形式较为单一，常用的唱腔都是相同音调的两句进行反复，有时也在同一曲调中加以各种变化，音色浑厚、明快、清脆。由于唱腔简单，所以演唱更容易被听懂。</p>
                <img src="img/style/style_05/01.jpg" alt=""/>
                <img src="img/style/style_05/02.jpg" alt=""/>
                <img src="img/style/style_05/03.jpg" alt=""/>
                <img src="img/style/style_05/04.jpg" alt=""/>
                <img src="img/style/style_05/05.jpg" alt=""/>
                <img src="img/style/style_05/06.jpg" alt=""/>
            </div>
        </div>
    </ion-content>
</ion-view>
