<ion-view>
    <ion-content scroll="false">
        <img class="bj" src="img/background.png" alt=""/>
        <div class="style_container">
            <img class="style_back" src="img/back.png" ng-click="goBack()" alt=""/>
            <img class="style_title" src="img/style/list_06.png" alt=""/>
            <div class="style_text">
               <p>环县道情皮影戏又称陇东道情皮影戏，演唱以民间戏曲板路唱腔为核心，部分具有秦腔的神韵。道情原为一种说唱小曲，在民间广为流传，主要为大众自娱自乐之用。随皮影戏表演发展成为了一种特有的表演形式。环县历史位置独特，融合了古代匈奴、羌、戎、狄等民族的文化特色，皮影演出中也有体现。</p>
                <img src="img/style/style_06/01.jpg" alt=""/>
                <img src="img/style/style_06/02.jpg" alt=""/>
                <img src="img/style/style_06/03.jpg" alt=""/>
                <img src="img/style/style_06/04.jpg" alt=""/>
                <img src="img/style/style_06/05.jpg" alt=""/>
            </div>
        </div>
    </ion-content>
</ion-view>
