<ion-view>
    <ion-content scroll="false">
        <img class="bj" src="img/background.png" alt=""/>
        <div class="style_container">
            <img class="style_back" src="img/back.png" ng-click="goBack()" alt=""/>
            <img class="style_title" src="img/style/list_02.png" alt=""/>
            <div class="style_text">
               <p>复州皮影戏的发展可谓坎坷。清朝嘉庆年间，复州地区有些皮影艺人加入当时盛行的反政府组织“白莲教”，成为清政府剿灭的对象。复州皮影重点表现风土人情、历史传说、历史典故等内容，歌颂真善美，抨击假恶丑，具有非常强的娱乐性和趣味性，这也是其区别于其他皮影戏种的重要特征。复州皮影戏起到了教化民众的作用，受到当地民众的追捧和喜爱。</p>
                <img src="img/style/style_02/01.jpg" alt=""/>
                <img src="img/style/style_02/02.jpg" alt=""/>
                <img src="img/style/style_02/03.jpg" alt=""/>
                <img src="img/style/style_02/04.jpg" alt=""/>
            </div>
        </div>
    </ion-content>
</ion-view>
