<ion-view>
    <ion-content scroll="false">
        <img class="bj" src="img/background.png" alt=""/>
        <div class="style_container">
            <img class="style_back" src="img/back.png" ng-click="goBack()" alt=""/>
            <img class="style_title" src="img/style/list_07.png" alt=""/>
            <div class="style_text">
               <p>冀南皮影主要流传于河北邯郸一带，是北京宫廷皮影流传到地方的延续和发展。冀南皮影戏演唱没有剧本，演出内容靠师徒口口相传。表演大量使用本地口语，保持着原生态的表演特色，通俗易懂，平易近人。伴奏使用河北梆子中常用的乐器，但目前的演出团体、演员人数、表演剧目等骤减，急需加以保护。</p>
                <img src="img/style/style_07/01.jpg" alt=""/>
                <img src="img/style/style_07/02.jpg" alt=""/>
                <img src="img/style/style_07/03.jpg" alt=""/>
                <img src="img/style/style_07/04.jpg" alt=""/>
            </div>
        </div>
    </ion-content>
</ion-view>
